@font-face {
    font-family: "Clock";
    src: url("../fonts/digital-7.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Clock", sans-serif;
    user-select: none;
}
.main{
    width: 100%;
    height: 100vh;
    background: #111;
    color: #aaa;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Clock";
}
.time{
    font-size: 16vw;
    padding: 10px 0;
}
.day, .date{
    font-size: 22px;
    letter-spacing: 2px;
}


@media (max-width:500px) {
    .date{
        margin-top: 20px;
    }
    
}